<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:name=".PilotApplication" android:label="ApartmentCare"
  android:icon="@drawable/ic_building" android:allowBackup="false"
  android:usesCleartextTraffic="false" android:supportsRtl="true" android:theme="@style/Theme.ApartmentPilotAI">
  <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
  <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.files" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/></provider>
 </application>
</manifest>
